<div id="footer" layout="rows center-left">
    <div id="end-mark">
        <div class="end-mark-icon"></div>
        <p class="copyright">WngLMng' Blog © 2015&nbsp;&nbsp;·&nbsp;&nbsp;一个写代码的</p>
    </div>
    <div id="footer-links" self="right">
        <ul>
            <!-- <a href="#"><li class="wechat" target="_blank"></li></a> -->
            <a href="mailto:{{site.social.mail}}" target="_blank"><li class="mail"></li></a>
            <a href="http://weibo.com/{{site.social.weibo}}" target="_blank"><li class="weibo"></li></a>
            <a href="https://github.com/{{site.social.github}}" target="_blank"><li class="github"></li></a>
        </ul>
    </div>
</div>
